[submodule "clap-sdk"]
	path = clap-sdk
	url = https://github.com/free-audio/clap.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "clap-wrapper"]
	path = clap-wrapper
	url = https://github.com/free-audio/clap-wrapper.git
